<p>chat works!</p>
<h4>BIENVENIDO AL CHAT!!</h4>
<!-- IMPRIMIR USUARIO -->
<div>
  <label for=""  >NICK-NAME IS: , {{userChat.User}}    </label>
</div>
<input type="text"  (change)="myMessage()"[(ngModel)]="userChat.text">
<div *ngFor="let a of myMessages">
  <label for="">{{a.User}} - </label>

  <span>{{a.text}}</span>
</div>
