d<div id="div-1">
  <div class="card p-5">
      <h4>Escribe tu nickname</h4>
      <input type="text"  [(ngModel)]="User.name">
    <a href="" [routerLink]="['/chat', User.name ]">Iniciar Char</a>
  </div>
</div>
